<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/kendo")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top header-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("محصولات", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("درخواست محصول", "Index", "Products", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("بازنگری درخواست ها", "ReviewProductRequest", "Products", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("سوابق درخواست ها", "StoreRequestsHistory", "Products", new { area = "" }, null)</li>
                    <li data-bind="visible: shouldShowLogout"><a href="#" class="glyphicon glyphicon-log-out"> خروج </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - محصولات</p>
        </footer>
    </div>

    <div class="login-form k-rtl hide">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="text" data-bind="value: loginEmail" placeholder="نام کاربری یا ایمیل" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="password" data-bind="value: loginPassword" placeholder="رمزعبور" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-lg btn-login">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> ورود
                </button>
            </div>
        </div>
        <div class="row"><span class="text-danger" data-bind="text: result" /></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/app")

    <script>
        $(function () {
            ko.applyBindings(headerMenu, $(".header-menu")[0]);

            ko.applyBindings(accountManagerApp, $(".login-form")[0]);

            $(document).on("click", ".glyphicon-log-out", function () {
                accountManagerApp.logout();
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
